<!DOCTYPE html>
<html ng-app="dayFinder">
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha256-3dkvEK0WLHRJ7/Csr0BZjAWxERc5WH7bdeUya2aXxdU= sha512-+L4yy6FRcDGbXJ9mPG8MT/3UCDzwR9gPeyFNMCtInsol++5m3bk2bXWKdZjvybmohrAsn3Ua5x8gfLnbE1YkOg==" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
    <link href="css/index.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>
    <script src="js/services.js"></script>
    <script src="js/index.js"></script>
</head>
<body ng-controller="dayFinderCtrl">
<div class="container">
    <div>
        <img src="img/Max_Life_Insurance.svg.png" style="height: 100px;"/>
    </div>
    <form class="form-signin">
        <h2 class="form-signin-heading">Please select date</h2>

        <div class="form-group">
            <label for="date">Date</label>
            <select id="date" class="form-control" ng-model="date.selectedDate" ng-change="onMonthYearChange()">
                <option ng-repeat="n in range(1,dates)" ng-value="{{n}}">{{n}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="month">Month</label>
            <select id="month" class="form-control" ng-model="date.selectedMonth" ng-change="onMonthYearChange()">
                <option ng-value="{{month}}" ng-repeat="month in monthsName">{{month}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="year">Year</label>
            <select id="year" class="form-control" ng-model="date.selectedYear" ng-change="onMonthYearChange()">
                <option ng-repeat="n in range(1900,2050)" ng-value="{{n}}">{{n}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="day">Day Found</label>
            <label id="day" class="form-control">{{foundedDay}}</label>
        </div>


       <!-- <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="{{firstName}}" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>-->
        <!--<button class="btn btn-lg btn-primary btn-block" type="button" ng-click="find()">Find</button>-->
    </form>
    <footer><a href="https://twitter.com/goyalshubham13" target="_blank">@goyalshubham13</a></footer>
</div>
</body>
</html>